name: Oasis Auto Build APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          # تمت إزالة الـ cache هنا لحل مشكلة الصورة 1000077398.jpg

      - name: Install EAS CLI
        run: npm install -g eas-cli

      - name: Install Project Dependencies
        # تم تصحيح الحزم بناءً على خطأ الصورة 1000077393.jpg
        run: npm install --legacy-peer-deps

      - name: Build APK
        run: eas build --platform android --profile preview --non-interactive
        env:
          EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}
