name: Oasis Auto Build APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install EAS CLI
        run: npm install -g eas-cli

      - name: Clean Install
        # حذف الـ lock القديم وإجبار النظام على بناء بيئة جديدة تماماً
        run: |
          rm -rf node_modules
          rm -f package-lock.json
          npm install --legacy-peer-deps

      - name: Build APK
        run: eas build --platform android --profile preview --non-interactive
        env:
          EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}
